ion-content{
    --background: #000000;
}

.titulos_1{
    margin-top: 40%;
    font-size:x-large;
}

.titulos_2{
    margin-top: 5%;
    font-size: large;
}

.texto{
    margin-top: 5%;
}

.container{
    border-radius: 10px;
    border: 1px solid white;
    margin: 15px;
}

.boton{
    margin-left: 35%;
    margin-top: 15px;
}