<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Donaciones</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Donanos para seguir adelante con esta gran comunidad</h1>

  <ion-button size="large" href="https://www.paypal.com/donate/?hosted_button_id=8RQMARJ3M3846">
    <ion-icon name="logo-usd"></ion-icon> 
    Donar
  </ion-button>
  <p>*Las donaciones se realizaran por medio de la pasarela de pagos
    PayPal, debes contar con una cuenta para ello.
  </p>
</ion-content>
