<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        Registrate en Solamun APP 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines ="full">
        <form [formGroup]="formularioRegistro" (ngSubmit)="formSubmit()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="user" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="cpassword" type="password" required></ion-input>
          </ion-item>
          <ion-button type="submit">
            Registrarme
          </ion-button>
        </form><br>
      </ion-list>
    <br>
    <ion-button [routerLink]="['/login']">
      ¿Ya tienes una cuenta? Ingresa aqui
    </ion-button>
    </ion-card-content>
    </ion-card>
  </div>  
</ion-content>
